.contact-section {
  padding: 5rem 1.5rem;
  margin: auto;

  .top-section {
    text-align: center;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 4rem;

    .heading {
      color: #020817;
      font-size: 36px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 16px;
    }

    .subheading {
      color: #4B5563;
      font-size: 18px;
      max-width: 42rem;
      margin: auto;
      font-weight: 600;
    }
  }
}