.projects-section {
  --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    padding: 5rem 0px;

    .heading {
      text-align: center;
      margin-bottom: 64px;

      .title {
        font-size: 36px;
        color: #fff;
        margin-bottom: 16px;
        font-weight: 700;
      }

      .subtitle {
        color: #D1D5DB;
        font-size: 18px;
        font-weight: 500;
        max-width: 42rem;
        margin: auto;
      }
    }

    .content {
      display: flex;
      max-width: 1400px;
      gap: 2rem;
      padding: 0px 1.5rem;
      width: 100%;
      margin: auto;

      .card {
        padding: 1.5rem;
        width: 33.33%;

        .project-title {
          color: #1f2937;
          margin-bottom: 12px;
          font-size: 20px;
          font-weight: 900;
        }

        .project-type {
          color: rgb(37 99 235);
          font-size: .875rem;
          line-height: 1.25rem;
          padding: .25rem 0.75rem;
          background-color: rgb(219 234 254);
          height: fit-content;
          border-radius: 99px;
          font-weight: 600;
          width: fit-content;
          margin-bottom: 1rem;
        }

        .project-overview {
          margin-bottom: 24px;
          font-size: 16px;
          color: #4B5563;
          font-weight: 600;
        }

        .key-features-title {
          margin-bottom: 4px;
          font-size: 16px;
          color: #1f2937;
          font-weight: 700;
        }

        .key-features {
          font-size: 15px;

          ul {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 1.5rem;

            li {
              display: flex;
              align-items: center;
              margin-top: 0.5rem;

              .bullet {
                background-color: rgb(37 99 235);
                border: 3px solid #2563EB;
                border-radius: 9px;
                margin: 0.25rem 0.75rem 0 0;
              }
            }
          }
        }

        .skills {
          ul {
            display: flex;
            list-style: none;
            padding-left: 0;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;

            li {
              color: rgb(55 65 81);
              font-size: 12px;
              line-height: 1.25rem;
              font-weight: 600;
              padding: 0.25rem 0.75rem;
              background-color: rgb(243 244 246);
              border-radius: 99px;
            }
          }
        }
      }
    }
}

@media (max-width: 500px) {
  .projects-section {
    .content {
      flex-direction: column;

      .card {
        width: 100%;
        padding: 1rem;
      }

    }
  }
}